body{
    margin: 0;
    font-family: "Comic Sans MS",sans-serif;
}
h2{
    background-color: lightsalmon;
    text-align: center;
    padding: 10px;
}
div{
    background-color: orange;
    padding: 10px;
    text-align: center;
}
#form-section{
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
input[type='text']{
    font-size: 18px;
    outline: none;
    border: 2px solid gray;
}
#button{
    background-color: forestgreen;
    font-size: 15px;
    color: white;
    padding: 5px 25px;
    text-transform: uppercase;
    border: none;
}

