body{
    font-family: Arial, sans-serif;
    margin: 0;
}
div{
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}
button{
    padding: 12px 25px;
    color: white;
    border: none;
    margin: 5px;
    font-size: 18px;
    box-shadow: 0 0 15px black;
    border-radius: 10px;
    outline: none;
}
button:hover{
    opacity: 0.8;
}
#morning{
    background-color: forestgreen;
}
#afternoon{
    background-color: teal;
}
#evening{
    background-color: orangered;
}
#night{
    background-color: darkred;
}